<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='./styles/game.css') }}"
    />
    <title>チンチロリン</title>
  </head>
  <body>
    <body>
      <header>
        <h1>チンチロリン</h1>
      </header>

      <main>
        <div>プレイヤー：{{name}}</div>
<!--  -->
        <button id="rollButton" disabled>ここを押してサイコロを振る</button>
        <div id="status">プレイヤーのターン</div>
        <div id="playerDice">プレイヤーのサイコロ: -</div>
        <div id="cpuDice">CPUのサイコロ: -</div>
        <div id="result">結果: -</div>
        <br>
        <button id="startGameButton">ゲーム開始</button>



        <br>
<!--  -->

        <br />
        <div class="log">
        </div>
        <div id="three-container"></div>

        <br />

<!--  -->
        <a href="{{ url_for('index') }}">タイトルに戻る</a>
        <br />
        <button id="resultButton" disabled>結果画面</a>
        <form id="gameForm" action="/result" method="post">
          <input type="hidden" name="name" value="{{ name }}">
          <input type="hidden" id="playerDice" name="playerDice">
          <input type="hidden" id="cpuDice" name="cpuDice">
          <input type="hidden" id="isWin" name="isWin">
        </form>
      </main>

      <script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
      <script type="module" src="../static/scripts/dice.js"></script>
      <script type="module" src="../static/scripts/game.js"></script>
    </body>
  </body>
</html>
