<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='./styles/game.css') }}"
    />
    <title>チンチロリン</title>

    <script>
      // FlaskからのデータをJavaScriptのグローバル変数として渡す
      const playerName = "{{ name }}";
      console.log(playerName);
    </script>
  </head>
  <body>
    <body>
      <header>
        <h1>チンチロリン</h1>
      </header>

      <main>
        <div id="status">開始ボタンを押してね</div>

        <div id="three-container"></div>

        <div id="score">
          <table>
            <tr>
              <th>{{name}}</th>
              <td id="playerDice">-</td>
            </tr>
            <tr>
              <th>CPU</th>
              <td id="cpuDice">-</td>
            </tr>
          </table>
        </div>

        <div id="play-button">
          <button id="rollButton" disabled>サイコロを振る</button>
          <button id="startGameButton">ゲーム開始</button>
        </div>
        <a id= "back-button" href="{{ url_for('index') }}">戻る</a>
        <!-- 役表ここから -->
<section id="roleTable">
  <h2>役表</h2>
  <table>
    <thead>
      <tr>
        <th>役名</th>
        <th>条件</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ピンゾロ</td>
        <td>⚀⚀⚀</td>
      </tr>
      <tr>
        <td>ゾロ目</td>
        <td>⚁⚁⚁ ⚂⚂⚂ ⚃⚃⚃ ⚄⚄⚄ ⚅⚅⚅</td>
      </tr>
      <tr>
        <td>シゴロ</td>
        <td>⚃⚄⚅</td>
      </tr>
      <tr>
        <td>通常の目</td>
        <td>⚁⚁⚅ ⚁⚁⚄ ⚁⚁⚃ ⚁⚁⚂ ⚂⚂⚁ ⚁⚁⚀ など</td>
      </tr>
      <tr> 
        <td>役なし</td>
        <td>⚁⚂⚃ など</td>
      </tr>
      <tr>
        <td>ヒフミ</td>
        <td>⚀⚁⚂</td>
      </tr>      
      <tr>
        <td>しょんべん</td>
        <td> ⚂⚃×など</td>
      </tr>
    </tbody>
  </table>
</section>
<!-- 役表ここまで -->
      </main>

      <script
        type="module"
        src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"
      ></script>
      <script type="module" src="../static/scripts/dice.js"></script>
      <script type="module" src="../static/scripts/game.js"></script>
    </body>
  </body>
</html>
