<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='./styles/records.css') }}"
     />
    <title>チンチロリン</title>
</head>
<body>
    <header>
        <h1>チンチロリン</h1>
        <a href="{{ url_for('index') }}"><h2 id="title_button">タイトルに戻る</h2></a>
    </header>
    
    <main>
        <h2 id="record">戦績</h2>
        <table border="1">
            <tr>
                <th>名前</th>
                <th>勝敗</th>
                <th>あなたの役</th>
                <th>CPUの役</th>
            </tr>
            {% for records in records %}
            <tr>
                <td>{{ records.name }}</td>
                <td class="{% if records.isWin == 2 %}win{% elif records.isWin == 1 %}draw{% else %}lose{% endif %}">
                    {{ "勝利！" if records.isWin == 2 else "引き分け" if records.isWin == 1 else "敗北..." }}</td>
                <td>{{ records.playerDice }}</td>
                <td>{{ records.cpuDice }}</td>
            </tr>
            {% endfor %}
        </table>
    </main>
</body>
</html>