<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='./styles/title.css') }}"
    />
    <title>チンチロリン</title>
</head>
<body>
    <header>
        <h1>チンチロリン</h1>
        <a href="{{ url_for('records.index') }}"><h2 id="title_button">戦績</h2></a>
        <!-- <h2 id="title_button"><a href="{{ url_for('records.index') }}">戦績</a></h2> -->
    </header>
    
    <main>
        <form action="{{ url_for('game.index') }}" method="post">
            <label>名前<input type="text" name="name" required></label><br>
            <button type="submit">プレイ</button>
        </form>
        <br>

        <section>
            <h2 id="record">戦績一覧</h2>
            <table border="1">
                <thead>
                    <tr>
                        <th>ピンゾロ</th>
                        <th>ゾロ目</th>
                        <th>シゴロ</th>
                        <th>通常の目</th>
                        <th>役なし</th>
                        <th>ションベン</th>
                        <th>ヒフミ</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in records %}
                    <tr>
                        <td>{{ record.pinzoro }}</td>
                        <td>{{ record.zorome }}</td>
                        <td>{{ record.sigoro }}</td>
                        <td>{{ record.normal }}</td>
                        <td>{{ record.yakunasi }}</td>
                        <td>{{ record.shonben }}</td>
                        <td>{{ record.hifumi }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>

    </main>
</body>
</html>
