<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>チンチロリン</title>
</head>
<body>
    <header>
        <h1>チンチロリン</h1>
    </header>
    
    <main>
        <h2>ここはタイトルです。</h2>
        <form action="{{ url_for('game.index') }}" method="post">
            <label>名前<input type="text" name="name" required></label><br>
            <button type="submit">プレイ</button>
        </form>
        <br>
        <a href="{{ url_for('records.index') }}">戦績</a>
    </main>
</body>
</html>